// 小标题颜色相关
$subTitleColor: #fefefe;
$subContentColor: #999;

// 元素块颜色相关相关
$itemBgc: #fff;
$itemTitColor: #333;
$itemExpColor: #666;
$itemDisColor: #999;
$itemWarnColor: #f00;

// tab
$tabColor: #333;
$tabActColor: #f00;

// button
$btnColor: #333;
$btnWarnColor: #f00;
$btnBorderColor: #333;
